<template>
    <div class="wrapper">
        <div style="position:relative;">
            <div>
                <div class="header">
                    <h1 class="text-center">Header</h1>
                </div>
            </div>
            <div class="container">
                <div class="api-check">
                    <h2 class="text-center mb-5 pt-5 text-white">API</h2>
                    <p class="text-white">
                        You are currently
                        <span v-if="user">
                            authenticated as {{ user.username }}
                            <a href="/logout" class="btn btn-warning btn-sm">Log out</a>
                        </span>
                        <span v-else>not authenticated</span>
                    </p>
                    <p class="text-white">
                        Check out the API Docs: <a v-bind:href="entrypoint" class="text-white"><u>{{ entrypoint }}</u></a>
                    </p>
                </div>
                <div class="login-form-wrapper">
                    <h2>Login!</h2>
                    <loginForm
                        v-on:user-authenticated="onUserAuthenticated"
                    ></loginForm>
                </div>
            </div>
            <footer class="footer">
                 <p>Footer</p>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import loginForm from './LoginForm';

    export default {
        components: {
            loginForm
        },
        props: ['entrypoint'],
        methods: {
            onUserAuthenticated(userUri) {
                axios
                    .get(userUri)
                    .then(response => (this.user = response.data))
            }
        },
        data() {
            return {
                user: null
            }
        },
        mounted() {
          if (window.user) {
            this.user = window.user;
          }
        }
    }
</script>

<style scoped lang="scss">

    .header {
      padding: 30px;
    }

    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }

    .api-check {
      background: #20c997;
      padding: 30px;
    }

    .login-form-wrapper {
      margin: 30px 0;
      padding: 30px;

      h2 {
        text-align: center;
      }

      form {
        margin: 0 auto;
        width: 320px;
        background: #bbf;
        padding: 30px;
      }
    }

    .footer {
        width: 100%;
        min-height: 60px;
        background-color: #f5f5f5;

      p {
        text-align: center;
        padding: 30px;
      }
    }
</style>